.App {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 2em;
}



button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;
    margin-top: 10px;
}

.samosa {
    height: 15em;
    padding: 1.5em;
    margin: 0 auto;
    text-align: center;
    transition: transform 0.2s ease-in-out; /* Smooth transition */
}

.samosa:hover {
    cursor: pointer;
    transform: scale(1.1); /* Grow on hover */
}

.samosa:active {
    transform: scale(0.95); /* Shrink on click */
}
